#docencia {
	font-size: 100%;
	margin-left: 2%;
	font-weight: bold;
}

#creditos {
	font-size: 100%;
	margin-left: 2%;
	margin-top: 2%;
	font-weight: bold;
}

#coordinacion {
	font-size: 100%;
	margin-left: 2%;
	font-weight: bold;
}

#bloque1{
	margin-left: 5%;
	margin-bottom: 2%;

}

#bloque2{
	margin-left: 5%;
	margin-bottom: 2%;	
	
}

