/* INITIAL CONDITION FOR ALL TAGS */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, 
details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

/* CENTERING THE BODY */


header{
        width:100%;
        height:40px;
        border:1px solid;
        background:lightblue;
}

body{
        background: url(./../img/background.jpg);
}

#content{
        margin:0 auto;
        padding-top:1%;
        padding-bottom:1%;
        width:65%;
        background:darkblue;
        margin-bottom:20px;
        background: #fff;
        border-radius: 10px;
        -khtml-border-radius: 10px;
          -webkit-border-radius: 10px;
          box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
          -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
          -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);        
        position: relative; 
        z-index: 90; /* the stack order: displayed under ribbon rectangle (100) */

}

nav{
        position:fixed;
        width: 15%;
        height:250px;
        background:grey;
        top:55px;
        left:1.125%;
}

aside{
        width: 65%;
        float:right;
        padding-right:2%;
        margin-top:2%;
        height:200px;
        
        
 background-color: #E9B64D;
  background-image: -webkit-linear-gradient(left, #E9B64D, #f1f1f1);
  background-image: -moz-linear-gradient(left, #E9B64D, #f1f1f1);
  background-image: -o-linear-gradient(left, #E9B64D, #f1f1f1);
  background-image: -ms-linear-gradient(left,#E9B64D, #f1f1f1);
  background-image: linear-gradient(left, #E9B64D, #f1f1f1);
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
  -webkit-box-shadow: 0px 5px 5px #999999;
  -moz-box-shadow: 0px 5px 5px #999999;
  box-shadow: 0px 5px 5px #999999;
  border-left: 2px solid #E9B64D;
  border-top:2px solid #E9B64D;
  border-bottom:2px solid #E9B64D;
}

#uma_logo{
        max-width:165px;
        max-height:156px;
        height:auto;
        width:auto;        
        position:absolute;
        top:45%;
        left:8%;
}

#section1{
	margin-left:2%;
	width: 75%;
	height: 45%;
/*	height: 350px;*/
	border:#FF0030 4px dashed;
	min-height: 40%;
	min-width: 50%;
}


.sangria_text{
	padding-left: 30px;
}

#img_right{
	position:absolute;
	top:2%;
	left:80%;
}


#img_abajo{
        position:absolute;
        top:71%;
        left:1%;
}

#last{
        float:right;
        width:80%;
        height:210px;
        background:yellow;
        margin-top:1%;
        margin-bottom:1%;
}

.section4, .section6{
	float:left;
	width: 38%;	
	height: 20%;
}

.section5{
	float:left;
	width: 22%;	
	margin-top: 3%;
	margin-left: 1%;
	margin-right: 1%;
	height: 18%;
}

footer{
        clear:both;
        width:98%;
        margin-left:1%;
        margin-right:1%;
        background:pink;
}

aside span#edition{
        text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
        color: #333;
        opacity: 0.4;
        font: 700 20px 'Bitter';
        margin-left:34%;
}

aside section {
        width:30%;
        float:left;
        margin-left:2.5%;
        margin-top:1%;
        padding-top: 4%;
}

aside section#middle{
        border-right: 2px dashed orange;
        border-left: 2px dashed orange;
        padding-left: 2%;
}

aside section ul {
        list-style:none;
        font-family: helvetica;
        font-size:10px;
}



aside section ul li span{
        font-size:12px;
        font-weight:bold;
        margin-right: 4px;
}